/*dekoration för placering och layout av titeln som är samma på alla sidorna*/
h1{
padding-top: 40px;
text-align: left;
font-size: 70px;
}

nav ul{
	list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  
}
/*dekoration för listan i menyerna*/
nav li {
	float: center;
   display: inline;
 
}
/*gäller bara id till index*/
#index{
	background-color: #c4bed1;
	margin: 0;
    padding: 0;
}
/*Skapar ett grid och namnger de olika rutorna som skapas*/
.wrapper{
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows:125px 65px 710px 100px;
 grid-template-areas: 
 "header header"
 "nav nav"
 "main figure"
 "footer footer";
}
/*Skapar en annan grid fast med annan layout*/
.wrapper1{
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows:125px 65px 710px 100px;
 grid-template-areas: 
 "header"
 "nav"
 "main"
 "footer"
}
/*Skapar en annan grid fast med annan layout*/
 .wrapper2{
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows:125px 65px 65px 645px 100px;
 grid-template-areas: 
 "header"
 "nav"
 "nav1"
 "main"
 "footer";
}
header{
	display:grid;
	grid-area:header;
    background-color: #878db0;
}

header>h1{
	margin:0;
}

nav{
	grid-area:nav;
	background-color:#8d84a1;
    border-bottom: 3px solid black;
}
/*griddar för mainen*/
main{
	display:grid;
	grid-template-columns:1fr 1fr;
	grid-template-rows:auto auto;
	grid-area:main;
}
footer{
	grid-area:footer;
	background-color: #878db0;
}
/*dekorering på texten i menyn*/
nav a{
	text-decoration:none;
	font-size:30px;
	color: white;
    padding: 35px;
	
	
}
/*texten ändrar färg när man håller musen över på menyerna*/
a:hover {
color:#b286f0;
}

p{
	font-size: 20px;
	padding-left:150px;
	padding-top: 50px;
	grid-area:;
}
/*olika klasser för olika tabeller och bilder eftersom vissa saker inte ska påverka allting*/
.img-kader{
	grid-area:main;
	width:450px;
	
  
}
.tävlingar{
	background-color: #c4bed1;
	padding:0;
	margin:0;
}
.img-SLS{
	width:500px;
	
	padding: 55px;
	
}


.tt{
text-align:;
font-size:22px

}
.ultävling{
	font-size:30px;
	padding:30px;
	border:1px solid black;
}
table, th, td{
	border:1px solid black;
	font-size:15px;
	
	
}
/*lokal meny
använder en ny grid på de 4 sidor som har lokal meny med nav1 som ett extra grid område*/
.local{
	text-align:center;
	grid-area:nav1;
}
/*ändrar position och storlek på formulär för att det ska passa*/
.formulär{
	float:right;
	font-size:12px;	
}
.bild{
	width:500px;
	padding-left:170px;
}
/*enkel css för att justera pixlarna på rutan med ljud*/
audio{
	padding:10px;
}
.id{
	font-size:22px;
}
.tävlingtabell{
	font-size:30px;
}