h1{
padding-top: 40px;
text-align: left;
font-size: 70px;
}

nav ul{
	list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  
}
nav li {
	float: center;
   display: inline;
 
}
#index{
	background-color: #c4bed1;
	margin: 0;
    padding: 0;
}

.wrapper{
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows:125px 65px 710px 100px;
 grid-template-areas: 
 "header header"
 "nav nav"
 "main figure"
 "footer footer";
}
.wrapper1{
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows:125px 65px 710px 100px;
 grid-template-areas: 
 "header"
 "nav"
 "main"
 "footer"
}
 .wrapper2{
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows:125px 65px 65px 645px 100px;
 grid-template-areas: 
 "header"
 "nav"
 "nav1"
 "main"
 "footer";
}
header{
	display:grid;
	grid-area:header;
    background-color: #878db0;
}

header>h1{
	margin:0;
}

nav{
	grid-area:nav;
	background-color:#8d84a1;
    border-bottom: 3px solid black;
}
main{
	display:grid;
	grid-template-columns:1fr 1fr;
	grid-template-rows:auto auto;
	grid-area:main;
}
footer{
	grid-area:footer;
	background-color: #878db0;
}
nav a{
	text-decoration:none;
	font-size:30px;
	color: white;
    padding: 35px;
	
	
}
a:hover {
color:#b286f0;
}

p{
	font-size: 20px;
	padding-left:150px;
	padding-top: 50px;
	grid-area:;
}
.img-kader{
	grid-area:main;
	width:450px;
	
  
}
.tävlingar{
	background-color: #c4bed1;
	padding:0;
	margin:0;
}
.img-SLS{
	width:500px;
	
	padding: 55px;
	
}


.tt{
text-align:;
font-size:22px

}
.ultävling{
	font-size:30px;
}
table, th, td{
	border:1px solid black;
	font-size:30px;
}
.local{
	text-align:center;
	grid-area:nav1;
}